$ui-color-submit-btn-text                = $ui-color-text-dark-base
$ui-color-submit-btn-background          = #d6ae54
$ui-color-submit-btn-background-hover    = #e8c77b
$ui-color-submit-btn-outline-background  = #fff
$ui-color-submit-btn-outline-background-hover= #f5f5f5
$ui-color-gray-btn-background            = #4A4A4A
$ui-color-gray-btn-background-hover            = rgba(74,74,74,0.7)

$ui-color-form-border-normal             = #c0c0bf
$ui-color-form-border-focus              = (#c0c0bf - 20%)
$ui-color-form-border-hover              = #BFBFBF
$ui-color-form-border-error              = #f05273
$ui-color-form-bg-hover                  = #F5F5F5

$ui-color-page-background                = #fff
$ui-color-sidebar-background             = #000
$ui-color-sidebar-mobile-background      = #262626

$ui-color-header-background              = #f5f5f5
$ui-color-header-mobile-background       = #000

$ui-color-divider-normal                 = #404040
$ui-color-border                         = #e6e6e6

$ui-color-menu-btn-background-normal     = #333
$ui-color-menu-btn-background-active     = #515151
$ui-color-menu-btn-content               = #fff
$ui-color-white                          = #fff

$ui-color-checkbox-checked               = #d6ae54
$ui-color-checkbox-border                = #cccccc

$ui-color-table-head-text                = #737373
$ui-color-table-row-background           = #F5F5F5
