$sidebar-normal-width                   = 288px
$sidebar-tablet-width                   = 388px
$header-normal-height                   = 78px

// $header-height-tablet                   = 105px
$header-height-mobile                   = 94px

$border-radius                          = 4px

$screen-mobile-max                      = 767px
$screen-tablet-min                      = ($screen-mobile-max + 1)
$screen-tablet-max                      = 991px

$z-index-sidebar                        = 100
$z-index-sidebar-mobile                 = 200
$z-index-header                         = 100
$z-index-header-mobile                  = 100
$z-index-menu-toggle-btn                = 300

// @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max)
// @media (max-width: $screen-mobile-max)
