doctype html
html
  head
    title Angular 2 App
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="icon" href="data:;base64,iVBORw0KGgo=")
    base(href="/")
  body
    app
      .loader-container Loading...
