@import "./includes/normalize"
@import "./index"
@import "./components/form-elements"
@import "./components/table"

body,
html
  height 100%

*
  box-sizing border-box

body
  font-family $ui-typo-ff-default
  background-color $ui-color-page-background

a,
button,
input,
textarea

  &:focus,
  &:active
    outline none

.page-title
  padding-top 43px
  padding-bottom 43px
  background-color $ui-color-header-background
  $ui-typo-head-title($ui-color-text-dark-base)
  page-sides-padding()


// TEMP OLD STYLES
.loader-container
  text-align: center;
  top: 50%;
  width: 100%;
  position: absolute;
  font-size: 21px;
  margin-top: -100px;

  .loader
    width: 80px;
    height: 40px;
    margin-top: 15px;
    animation: animationFrames ease-out 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; /*when the spec is finished*/

@keyframes animationFrames
  0%
    transform: scaleX(1.00) scaleY(1.00);

  50%
    transform: scaleX(1.25) scaleY(1.25);

  100%
    transform: scaleX(1.00) scaleY(1.00);

// END TEMP OLD STYLES
